<h2>Log In</h2>

<h3>Username</h3>
<input />
<h3>Password</h3>
<input />
<button>Log In</button>

{{!-- <ul>
    {{#each model as |rando|}}
        <li>{{rando}}</li>
    {{/each}}
</ul> --}}
{{people-list title="Woo!" people=model}}

{{outlet}}